body {
    background: rgb(14, 14, 17);
    background: linear-gradient(90deg, rgba(14, 14, 17, 1) 0%, rgba(28, 31, 31, 1) 66%);
    min-height: 100vh;
}

.categoryCard {
    height: 70px;
}

.newImage{
    position: absolute;
    width: 100px;
    top: 0;
    z-index: 10;
}

.cardContainer{
    position: relative;
}


@media (max-width: 520px){
    .small{
        text-align: center;
    }
    .btn-small{
        width: 40%;
    }

    
}


